<!DOCTYPE html>
<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #products-static-resources},
                                                ~{:: #products-header},
                                                ~{:: #products-nav},
                                                ~{:: #products-main-content},  
                                                ~{:: #products-footer}
                                               )}">
                                              
<head>
    <title>Stock File</title>
    <th:block id="products-static-resources">  
       <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{js/datatables.min.js}"></script>
        <script type="text/javascript" th:inline="javascript">
			$(document).ready(function () {
				
				
			});
			
			
			
		</script>
    </th:block>
</head>
<body>
    <div id="products-header">
    	<br>
        <h3>Debtor&Sales Monitor</h3> 
    </div>
    <div id="products-nav" th:replace="~{fragments/app-fragments :: nav-default}">
         Nav
    </div>
    <div id="products-main-content">
    	<div class="row">
    		<div class="col-sm-12">
		       <div class="form-group row">
					<label for="staticEmail" class="col-sm-2 col-form-label text-right">Email Sender :</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" required="required" id="emailSender" th:name="emailSender"  placeholder="Email Sender">
					</div>
				</div>
				<div class="form-group row">
					<label for="staticEmail" class="col-sm-2 col-form-label text-right">Email Password :</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" required="required" id="emailPassword" th:name="emailPassword"  placeholder="Email Password">
					</div>
				</div>
			</div>
		</div>
		
    </div>
    <div id="products-footer" th:replace="~{fragments/app-fragments :: copyright}">
        Footer
    </div>
</body>
</html>